<div class="auth-wrapper">
  <div class="overlay"></div>

  <div class="auth-card">
    <h3 class="text-center mb-3">
      {{ isLogin ? 'Login' : 'Sign Up' }}
    </h3>

    <form *ngIf="isLogin" (ngSubmit)="login()">
     
      <!-- Email -->
      <div class="mb-3">
        <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Email">
      </div>

      <!-- Password -->
      <div class="mb-3">
        <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-primary w-100">
        Login
      </button>
      
     <small class="form-text text-danger mt-2">
        {{ loginError }}
      </small>
    </form>

    <form *ngIf="!isLogin" [formGroup]="signupForm">
      <!-- Name (Signup only) -->
      <div  class="mb-3">
        <input type="text" formControlName="name" class="form-control" placeholder="Full Name">
        <small *ngIf="signupForm.get('name')?.touched && signupForm.get('name')?.invalid" class="form-text text-danger">
          Name is required.
        </small>
      </div>  
    
      <!-- Email -->
      <div class="mb-3">
        <input type="email" formControlName="email" class="form-control" placeholder="Email">
        <small *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid" class="form-text text-danger">
          Please enter a valid email.
        </small>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <input type="password" formControlName="password" class="form-control" placeholder="Password">
        <small *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid" class="form-text text-danger">
          Password is required.
        </small>
      </div>

      <!-- Confirm Password (Signup only) -->
      <div  class="mb-3">
        <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password">
        <small *ngIf="signupForm.get('confirmPassword')?.errors?.['passwordMismatch'] && signupForm.get('confirmPassword')?.touched" class="form-text text-danger">
          Passwords do not match.
        </small>

      </div>

      <button (click)="onSignup()" class="btn btn-primary w-100">
         Register
      </button>
      
    </form>

    

    <div class="text-center mt-3">
      <a href="javascript:void(0)" (click)="toggleForm()">
        {{ isLogin ? 'Create Account' : 'Already have an account? Login' }}
      </a>
    </div>
  </div>
</div>